/docker/data/dump/*
/docker/data/postgresql/*
/docker/images/php/1
/docker/nginx/logs/*
/docker/php/php.ini
/moodledata/*
.idea
app
# https://docs.google.com/presentation/d/1ljzCN3_PLOnUdSJ3_Gbx8PdC-UT3fBBZysqNtNIU3nI/edit?usp=sharing
